
@{
    ViewData["Title"] = "LOC_StateAddList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MultiUserAB.Areas.LOC_State.Models.LOC_StateModel

<div class="container-fluid row">
    <div class="col-md-12">
        <form method="post" asp-area="LOC_State" asp-controller="Home" asp-action="Save">
            <h3>@TempData["StateInsertMessage"]</h3>
            @Html.HiddenFor(x=>x.StateID)

            <div class="mb-5">
                <label><span class="text-danger">*</span>Country Name</label>
                <Select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                    <option value="">Select Country</option>
                </Select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>

            <div class="mb-5">
                <label><span class="text-danger">*</span>State Name</label>
                <input type="text" class="form-control" placeholder="Enter the State name" asp-for="StateName" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            @Html.HiddenFor(x=>x.CountryID)


            @*<div>
            <label>Created</label>
            <input type="date" class="form-control" asp-for="Created" />
            </div>

            <div>
            <label>Modified</label>
            <input type="date" class="form-control" asp-for="Modified" />
            </div>*@

            <hr />

            <input type="submit" class="btn btn-success" @*onclick="return confirm(@TempData["StateInsertMessage"])"*@ />
            <a type="submit" class="btn btn-danger" value="Cancel" asp-area="LOC_State" asp-controller="Home" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}